@import './bootstrap.rtl.min.css';

/* reset */
@font-face {
    font-family: shabnam;
    src: url(../font/Shabnam-Bold_p30download.com.ttf);
    src: url(../font/Shabnam-Light_p30download.com.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: shabnam;
}

body {
    width: 100%;
    overflow-x: hidden;
}

/* style */
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.gray {
    color: rgb(84, 83, 83);
    font-weight: 500;
    font-family: sans-serif !important;
}

.bg-light {
    background-color: #EAEDF3 !important;
}

.bg-lighter {
    background-color: #eaedf334 !important;
}

.madia-list li {
    margin: 0;
    width: 40px;
    height: 40px;
    margin: 0;
}

.madia-list li a {
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #6EC1E4;
}


.menu-list li {
    margin: 0 8px;
}

.menu-list li a {
    color: #969696;
    font-size: 15px;
    font-weight: 100;
}

.menu-list li a:hover {
    color: rgb(26, 134, 211);
}

.menu-list li a.active {
    color: #000000;
}

.btn-primary {
    background-color: #0770BD !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.bg-gray {
    background-color: #EAEDF3;
}

.items {
    background-color: #FBFBFB;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    justify-content: space-between;
    height: 100px;
    padding: 0 15px;
}

.items h5 {
    font-size: 19px;
    margin: 0 7px;
}

.item {
    background-color: #0770BD;
    color: #ffff;
    font-size: 35px;
    padding: 0 7px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

@media screen and (max-width:700px) {
    .items {
        min-height: 240px;
        padding: 15px;
    }

    .items .col div {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .items h5 {
        margin: 12px 0;
        font-weight: normal;
    }

}



/* main */
main {
    width: 100%;
    overflow-x: hidden;
}

/* .slick-slide img {
} */
.single-item {
    height: 450px !important;
}

.single-item div {
    height: 100% !important;
}

.single-item div div {
    height: auto !important;
    width: 100%;
    transform: translateY(2.8px);
    -webkit-transform: translateY(2.8px);
    -moz-transform: translateY(2.8px);
    -ms-transform: translateY(2.8px);
    -o-transform: translateY(2.8px);
    height: 100% !important;
}

@media screen and (max-width:700px) {
    .single-item div div {
        /* background-position: 50%; */
        align-items: flex-end !important;
    }

    .btn-border-primary, .slick-dots {
        display: none !important;
    }

    .single-item {
        height: 200px !important;
    }
}

.slick-dots li {
    width: 2px !important;
    height: 2px !important;
    margin: 0 10px !important;
    padding: 0 !important;

}

.slick-dots li button {
    background-color: #969696;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    width: 3px !important;
    height: 3px !important;
}

.single-item .slick-dots li.slick-active button {
    background-color: #0770BD;
}

[dir='rtl'] .slick-prev {
    right: 20px !important;
    left: auto;
    z-index: 100000;
    width: 20px;
    height: 20px;
}

[dir='rtl'] .slick-prev:before {
    content: '' !important;
    background-image: url(../image/icons8-chevron-right-30.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px !important;
    height: 20px !important;
    display: inline-block;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: 20px !important;
    z-index: 100000;
}

[dir='rtl'] .slick-next:before {
    content: '' !important;
    background-image: url(../image/icons8-back-26.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px !important;
    height: 20px !important;
    display: inline-block;

}

.cart-elem {
    width: 220px;
    border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -ms-border-radius: 25px 25px 25px 25px;
    -o-border-radius: 25px 25px 25px 25px;
    padding: 10px;
    box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 18%);
    margin: 25px 20px 25px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
}

.cart-elem img {
    border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -ms-border-radius: 25px 25px 25px 25px;
    -o-border-radius: 25px 25px 25px 25px;
    width: 100%;
}

.cart-elem a span {
    color: black;
    display: block;
    text-align: center;
}

.bg-image {
    width: 100%;
    min-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
}

.big-image img {
    width: 490px;
}

.big-image-left img {
    transform: translateX(-135%);
    -webkit-transform: translateX(-135%);
    -moz-transform: translateX(-135%);
    -ms-transform: translateX(-135%);
    -o-transform: translateX(-135%);
}

.box {
    text-align: right;
    margin: 120px -100px 70px 100px;
    background-color: #FFFFFF;
    border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -ms-border-radius: 25px 25px 25px 25px;
    -o-border-radius: 25px 25px 25px 25px;
    padding: 55px 45px 30px 45px;
    position: absolute;
    left: 90px;
    top: 50px;
    width: 640px;
    z-index: 1000;
}

.box h2 {
    margin-bottom: 50px;
    position: relative;
}

.box h2::after {
    content: '';
    position: absolute;
    right: 10px;
    bottom: -30px;
    width: 50px;
    height: 10px;
    background-color: #0770BD;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.box p {
    line-height: 1.4;
    font-size: 18px;
    text-align: justify;
}

.right-box {
    transform: translate(340px);
    -webkit-transform: translate(340px);
    -moz-transform: translate(340px);
    -ms-transform: translate(340px);
    -o-transform: translate(340px);
    width: 600px !important;
}

.cart-video {
    width: 100%;
    border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -ms-border-radius: 25px 25px 25px 25px;
    -o-border-radius: 25px 25px 25px 25px;
    padding: 12px;
    box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 18%);
    margin: 25px 20px 25px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.cart-video img {
    border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -ms-border-radius: 25px 25px 25px 25px;
    -o-border-radius: 25px 25px 25px 25px;
    width: 100%;
    height: 210px;
}

@media screen and (min-width:700px) and (max-width:1024px) {
    .cart-elem {
        width: 150px;
    }
}

@media screen and (max-width:700px) {
    .cart-video img {
        height: 120px;
    }

    .cart-elem,
    .cart-video {
        width: 100%;
        margin: 20px 0 !important;
    }
}

.cart-video a span {
    color: black;
}

.play {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border: 4px solid #ffffffba;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffffba;
    font-size: 20px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.play:hover {
    color: #ffff;
    border-color: #ffff;
}

.little-border {
    position: relative;
    margin-bottom: 40px;
}

.little-border::after {
    content: '';
    position: absolute;
    right: 50%;
    transform: translateX(100px);
    bottom: -30px;
    width: 50px;
    height: 10px;
    background-color: #0770BD;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
}

.font-span {
    font-size: 25px;
    font-weight: 400;
}

.font-12 {
    font-size: 13px;
    color: #0770BD;
    font-weight: 500;
}

.form input:not(input[type="checkbox"]), .form textarea {
    background-color: #EAEDF3;
    border: none;
    width: 70%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -ms-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
}

.form input[type="submit"] {
    width: 145px !important;
}

.form input::placeholder {
    color: #B3B5BB;
    text-align: right;
}

form label {
    min-width: 150px;
}

.element {
    background-color: #ffff;
    border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 35px 35px 35px 35px;
    -moz-border-radius: 35px 35px 35px 35px;
    -ms-border-radius: 35px 35px 35px 35px;
    -o-border-radius: 35px 35px 35px 35px;
    padding: 50px 30px;
    align-items: center;
    justify-content: space-between;
}

.text-justify {
    text-align: justify;
}

.media-item-circle li,
.media-item-circle-light li {
    margin: 5px;
}

.media-item-circle li a span {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    background-color: #0770BD;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    font-size: 20px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.media-item-circle-light li a span {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    background-color: #EAEDF3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0770BD;
    font-size: 17px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;

}

.media-item-circle li a:hover span,
.media-item-circle-light li a:hover span {
    opacity: .8;
}

.links li {
    margin: 10px 0;
}

.links li a {
    color: #000000c4;
}

.links li a:hover {
    color: #0770BD;
}

.inner {
    position: absolute;
    width: 150px;
    min-height: 150px;
    background-color: #ffff;
    right: -2px;
    top: 40px;
    padding: 0 !important;
    margin: 0 !important;
    opacity: 0;
    visibility: hidden;
    z-index: 10000;
}

.inner li {
    width: 100%;
    height: 40px;
    padding: 15px 10px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    display: flex;
    align-items: center;
    margin: 0 !important;

}

.inner li a {
    font-size: 13px;
    color: #252424 !important;
    font-weight: bold;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;

}

.inner li:hover {
    background-color: #0770BD;
}

.inner li:hover a {
    color: #fff !important;
}

.child:hover>.inner {
    opacity: 1;
    visibility: visible;
}

.slick-dots {
    bottom: -35px !important;
}

.btn-border-primary {
    border: 2px solid #0770BD;
    color: #0770BD;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 80px;
    height: 40px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.btn-border-primary:hover {
    color: #FFFFFF;
    background-color: #0770BD;
}

.span {
    font-size: 12px;
    font-weight: bolder;
    color: #5b5555;
}

.container-fluid {
    padding: 0 !important;
}

.nav-link {
    padding: 12px 10px !important;
}

.nav-link.active {
    background-color: #0770BD !important;
    color: #fff !important;
}

.follow-btn {
    position: absolute;
    top: 86px;
    left: 20px;
    display: inline-block;
}

.border-blue {
    position: relative;
    margin-bottom: 40px;
}

h2.border-blue::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -30px;
    width: 45px;
    height: 10px;
    background-color: #0770BD;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.more {
    font-size: 13px;
    font-weight: bold;
}

h5.border-blue::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -25px;
    width: 35px;
    height: 7px;
    background-color: #0770BD;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.font-13 {
    font-size: 16px;
}

.links i {
    color: #0770BD;
}

.accordion-button:not(.collapsed)::after,
.accordion-button::after {
    display: none !important;
}

.accordion-button:not(.collapsed) {
    color: #fff !important;
    background-color: #0770BD !important;
    box-shadow: none !important;
}

.navbar-toggler {
    padding: 0.25rem;
    font-size: 1rem !important;
    line-height: 1;
    border: none !important;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
    background-color: #EAEDF3;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none !important;
    color: #0770BD !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(../image/icons8-menu-24.png);
}

.navbar-light .navbar-toggler-icon2 {
    background-image: url(../image/icons8-close-24.png) !important;
}



/*  */
.populated .col>div {
    width: 95%;
    box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 18%);
    margin: 25px auto;
    padding: 25px 25px 25px 25px;
    border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -ms-border-radius: 30px 30px 30px 30px;
    -o-border-radius: 30px 30px 30px 30px;
}

.populated .col>div img {
    border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -ms-border-radius: 30px 30px 30px 30px;
    -o-border-radius: 30px 30px 30px 30px;
    width: 100%;
}

.image {
    background-color: #54595F;
    min-height: 320px;
    width: 100%;
    background-position: bottom center;
    border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 35px 35px 35px 35px;
    -moz-border-radius: 35px 35px 35px 35px;
    -ms-border-radius: 35px 35px 35px 35px;
    -o-border-radius: 35px 35px 35px 35px;
    padding: 25px 25px 25px 25px;
    position: relative;
    display: flex;
    background-size: 90%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;

}

@media screen and (max-width:600px) {
    .image {
        background-repeat: no-repeat;
        margin: 20px 0;
        background-size: cover;
    }

}

.little-border-center {
    display: inline-block;
    position: relative;
}

.little-border-center::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -20px;
    width: 40px;
    height: 9px;
    background-color: #0770BD;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


.font-15 {
    font-size: 15px;
}

.little-box {
    width: 550px !important;
    transform: translate(-100px, 40px);
    -webkit-transform: translate(-100px, 40px);
    -moz-transform: translate(-100px, 40px);
    -ms-transform: translate(-100px, 40px);
    -o-transform: translate(-100px, 40px);
}

.little-box p {
    font-size: 15px !important;
    line-height: 1.5;
}

.border-radius {
    border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -ms-border-radius: 25px 25px 25px 25px;
    -o-border-radius: 25px 25px 25px 25px;

}


/* timeline */
.timeline {
    position: relative;
    margin-inline: 1rem;
}

.timeline-pipe {
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 54px;
    width: 5px;
    border-left: 3px dashed #0770BD;
    z-index: 1;
    height: 350px;
}

.timeline-item {
    display: flex;
}

.timeline-meta {
    flex-basis: 0;
    display: none;
}

.timeline-card {
    flex-basis: 100%;
}

.timeline-pointer {
    order: 1;
}

.timeline-card {
    order: 2;
}

.timeline-item {
    margin-block: 1.5rem;
}

.timeline-pointer {
    margin-inline: 2rem;
    flex-shrink: 0;
    flex-grow: 0;
    order: 2;
    transform: translateY(40px);
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    position: relative;
    z-index: 2;
}

.timeline-pointer .pointer-item {
    position: relative;
    z-index: 2;
}

@media screen and (min-width: 30rem) {
    .timeline-pipe {
        left: 50%;
        transform: translateX(-50%);
    }

    .timeline-meta {
        flex-basis: 50%;
        display: block;
    }

    .timeline-meta {
        order: 1;
    }

    .timeline-card {
        order: 3;
        flex-basis: 50%;
    }

    .timeline-item:nth-child(2n+1) .timeline-meta {
        order: 3;
    }

    .timeline-item:nth-child(2n+1) .timeline-card {
        order: 1;
        transform: translateX(-60px);
        -webkit-transform: translateX(-60px);
        -moz-transform: translateX(-60px);
        -ms-transform: translateX(-60px);
        -o-transform: translateX(-60px);
    }

    .timeline-item:nth-child(2n+1) .timeline-card .card-section {
        border-radius: 30px 30px 30px 0px !important;
        -webkit-border-radius: 30px 30px 30px 0px !important;
        -moz-border-radius: 30px 30px 30px 0px !important;
        -ms-border-radius: 30px 30px 30px 0px !important;
        -o-border-radius: 30px 30px 30px 0px !important;
    }
}

.elementor-icon {
    background-color: #0770BD;
    color: #FFFFFF;
    font-size: 25px;
    border-width: 0px 0px 0px 0px;
    border-radius: 11px 11px 11px 11px;
    width: 51px;
    height: 51px;
    -webkit-border-radius: 11px 11px 11px 11px;
    -moz-border-radius: 11px 11px 11px 11px;
    -ms-border-radius: 11px 11px 11px 11px;
    -o-border-radius: 11px 11px 11px 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-section {
    border-radius: 30px 30px 0px 30px;
    -webkit-border-radius: 30px 30px 0px 30px;
    -moz-border-radius: 30px 30px 0px 30px;
    -ms-border-radius: 30px 30px 0px 30px;
    -o-border-radius: 30px 30px 0px 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 488px;
    height: 143px;
}

.card-section h4 {
    font-size: 17px;
    font-weight: bolder;
}

.image:hover {
    filter: brightness(.7);
    -webkit-filter: brightness(.7);
}

.bg-lighter {
    background-color: #eaedf334 !important;
}

@media screen and (max-width:800px) {
    .permissions .col>div {
        transform: scale(.7);
        -webkit-transform: scale(.7);
        -moz-transform: scale(.7);
        -ms-transform: scale(.7);
        -o-transform: scale(.7);
    }

    .team .col div>div {
        flex-direction: column !important;
        font-size: 14px;
        align-items: flex-start !important;
    }

    .team .col div>div img {
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        width: 45px !important;
        height: 45px !important;
    }
}

@media screen and (max-width:700px) {
    .big-image-card {
        height: 300px !important;
    }

    .big-image-card img {
        height: 100%;
    }

}

@media screen and (min-width:600px) and (max-width:900px) {
    .responsive {
        width: 90% !important;
        text-align: center !important;
    }

    .responsive img {
        width: 80% !important;
    }


}

/* stteper */

.stepper-wrapper {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.stepper-wrapper::before {
    content: "";
    width: 100%;
    height: 3px;
    /* background-color: lightgray; */
    position: absolute;
    z-index: -2;
}

.progress {
    content: "";
    width: 0%;
    height: 3px;
    /* background-color: rgb(78, 196, 243); */
    position: absolute;
    z-index: -1;
    transition: width 1s;
}

.stepper-wrapper span {
    font-size: 13px;
    font-weight: bolder;
}

.screen-indicator {
    border-radius: 50%;
    border: 3px solid lightgrey;
    background-color: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    transition: border-color color;
    transition-duration: 0.7s;
}

.completed {
    background-color: #717171;
    color: #ffff;
    border: none;
}

.screen-indicator.active {
    background-color: #B3B5BB;
    color: #252424;
    border: none;
}

.control-btn {
    background-color: rgb(238, 238, 238);
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}

.control-btn:disabled {
    cursor: not-allowed;
}

.control-btn:not(:disabled):hover {
    background-color: lightgray;
}

.btn-back {
    border: 1px solid red;
    background-color: #ffff !important;
    color: black !important;
}






.accordion {
    width: 100%;
    padding: 0 !important;
    border-radius: 1rem;
    background: white;
    /*   box-shadow: 0 0 5rem lightgrey; */
}

.accordion__heading {
    margin-bottom: 1rem;
    padding: 0;
}

.accordion__item:not(:last-child) {
    border-bottom: 1px solid lightgrey;
}

.accordion__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.2rem 1.4rem;
    background: white;
    border: none;
    outline: none;
    color: var(--color-text);
    font-size: 1.2rem;
    text-align: left;
    cursor: pointer;
    transition: 0.1s;

}

.accordion__btn:hover {
    background: hsl(248, 53%, 97%);
}

.accordion__item--active .accordion__btn {
    background: hsl(248, 53%, 97%);
}

.fa-lightbulb {
    padding-right: 1rem;
}

.accordion__icon {
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out;
    opacity: 0.9;
}

.accordion__item--active .accordion__icon {
    transform: rotate(135deg);
}

.accordion__content {
    font-weight: 300;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    color: var(--color-text-muted);
    transform: translateX(16px);
    transition: max-height 0.5s ease, opacity 0.5s, transform 0.5s;
}

.accordion__content p {
    padding: 1rem 1.8rem;
}

.accordion__item--active .accordion__content {
    opacity: 1;
    transform: translateX(0px);
    max-height: 100vh;
}

.share {
    width: 100%;
    justify-content: space-between;
    padding: 20px 0 !important;
}

.share li a i {
    font-size: 25px;
    color: #0770BD;
}

.share li {
    margin: 0 0 0 50px !important;
}


.share li a:hover i {
    opacity: .7;
}

.border-center {
    height: 70px;
    width: 5px;
    display: inline-block;
    background-color: #0770BD;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.blue {
    color: #0770BD;
}

.font-bold {
    font-weight: bold;
}

.edit-btn button {
    border: none !important;
    background-color: transparent;
    margin: 0 5px;
    font-weight: bold;
}

.edit-btn {
    padding: 12px;
    border: 1px solid #d4d5d6;
}

.font-11 {
    font-size: 11.5px;
}

.width-100 {
    width: 100% !important;
}

.width-100::placeholder {
    font-size: 13px;
}

.box-shadow {
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 18%);

}

.news li {
    margin: 10px 5px;
    list-style-type: square;
    color: #0770BD;
}

.news li a {
    font-size: 15px;
    color: #403c3c;
    line-height: 1.5;
}

.link-btn a {
    width: 100%;
    height: 45px;
    display: inline-flex;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border: 1px solid #cde1e9;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
    color: #000000 !important;
    margin: 10px 0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.link-btn a:hover {
    color: #0770BD !important;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.news li:hover a {
    color: #0770BD;
}

#textarea {
    resize: none;
}

#textarea::placeholder {
    font-size: 13px;
    font-style: italic;
}

audio {
    width: 450px;
}

@media screen and (max-width:900px) {
    .share li {
        width: 20%;
        margin: 10px;
    }

    .share {
        flex-wrap: wrap;
    }

    .accordion__btn {
        padding: 10px !important;
        font-size: 13px !important;
        text-align: right;
    }

    .accordion__content p {
        text-align: 14px !important;
    }

    audio {
        width: 300px;
    }
}

.detail-btn {
    width: 230px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border: 1px solid #cde1e9;
    background-color: #ffff;
}

.detail-btn summary, .btn-colose {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    width: 100%;
    align-items: center;
    height: 50px;
    justify-content: center;
    background-color: #EAEDF3;
    text-align: center;
    padding: 15px 0;
}

.detail-btn summary::marker {
    visibility: hidden;
}

.list-item-accordin {
    height: 450px;
    overflow-y: scroll;
    padding: 0 10px;
    background-color: #ffff;
}

.list-item-accordin ul {
    padding: 5px;
}

.list-item-accordin ul li a {
    font-size: 13px;
    color: #5b5555;
}

.list-item-accordin ul li:hover a {
    color: #0770BD;
}

.float-btn {
    position: fixed;
    top: 15%;
    right: 0;
    z-index: 100;
    opacity: 0;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}

.float-btn>button {
    width: 50px;
    height: 50px;
    border-color: transparent;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border: 1px solid #cde1e9;
    margin-right: 50px;
}

.float-menu {
    position: absolute;
    right: 50px;
    top: 0;
    display: none;
    z-index: 101;
}

.open {
    display: block;
}

.flex-element {
    display: flex;
}

.opacity-1 {
    opacity: 1;
}

.bg-image {
    min-height: 600px !important;
}

.btn-primary {
    background-color: #0770BD !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-size: 14px;
    width: 120px;
}

.responsive {
    width: 90%;
}

.responsive img {
    height: 242px;
    object-fit: cover;
}

@media screen and (max-width:1200px) {
    .responsive {
        width: 100% !important;
    }
}

@media screen and (min-width:600px) and (max-width:900px) {
    .responsive {
        text-align: center !important;
    }

    .responsive img {
        height: 166px !important;
    }
}

@media screen and (max-width:900px) {
    .responsive img {
        height: 166px !important;
    }
}

@media screen and (max-width:768px) {
    .bg-image {
        min-height: 600px !important;
    }
}

@media screen and (min-width:800px) and (max-width:1260px) {
    .permissions .col>div {
        transform: scale(.8);
        -webkit-transform: scale(.8);
        -moz-transform: scale(.8);
        -ms-transform: scale(.8);
        -o-transform: scale(.8);
    }

}