input,select{
    border-style: dashed !important;
    border-color: #7A7A7A !important;
    box-shadow: 0px 0px 15px 0px rgb(41 38 38 / 18%) !important;
    background-color: transparent !important;
    width: 100% !important;
    border-width: 1px !important;
    border-radius: 15px !important;
    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    -ms-border-radius: 15px !important;
    -o-border-radius: 15px !important;
    height: 40px !important;
    padding:0 10px;
}
label,form p{
    font-size: 13px !important;
    font-weight: bolder !important;
}
h2{
    font-weight: bold !important;
}
input:focus,select:focus{
    border: none ;
}